@font-face {
  src: url(fonts/made_bon_voyage_regular-webfont.woff);
  font-family: BonVoyage regular;
}

@font-face {
  src: url(fonts/made_bon_voyage_thin-webfont.woff);
  font-family: BonVoyage light;
}

@font-face {
  src: url(fonts/ProximaNova-Thin.otf);
  font-family: ProximaNova;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: ProximaNova;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
}

h1 {
  font-family: BonVoyage light;
  font-weight: 300;
}

h2 {
  font-family: BonVoyage light;
  font-weight: 300;
  font-size: 122px;
  line-height: 105.9%;
}

a {
  font-family: BonVoyage regular;
  text-decoration: none;
  color: #0c0c0c;
}

body {
  background-color: #ececec;
  color: #0c0c0c;
}

.main-container {
  position: relative;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 70px;
}

/* Animation styles */

.top-fadein {
  display: block;
}

.top-fadein,
.bottom-fadein,
.single-bottom-fadein,
.single-top-fadein,
.opera-image,
.side-photo-description,
.photo-description {
  visibility: hidden;
}

/* end */

main {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 50px;
}

.main-text-container div {
  margin-bottom: 96px;
  overflow: hidden;
}

.main-text-container div:last-child {
  margin-top: 96px;
}

.p-bold-framed {
  position: relative;
  padding: 40px 0;
}

.p-bold-framed p {
  overflow: hidden;
}

.p-bold-framed span {
  font-family: BonVoyage regular;
  font-size: 25px;
  line-height: 36px;
}

.line {
  position: absolute;
  left: 0;
  width: 0;
  background-color: gray;
  height: 1px;
  transition-timing-function: ease-in;
}

.line:first-child {
  top: 0;
}

.line:last-child {
  bottom: 0;
}

.image-container-1 img {
  width: 100%;
}

.opera-image,
.js-description {
  visibility: hidden;
}

.side-text-container {
  justify-self: right;
}

.side-text-container h4 {
  font-family: BonVoyage light;
  color: #8f8f8f;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 39px;
}

.side-text-container div {
  max-width: 240px;
  margin-bottom: 49px;
}

.side-text-container p {
  font-family: BonVoyage regular;
  font-size: 20px;
  line-height: 147.55%;
  overflow: hidden;
}

.image-container-2 {
  margin-top: 150px;
}

.image-container-2 img {
  max-width: 100%;
}

.photo-description {
  font-family: BonVoyage regular;
  font-size: 20px;
  margin: 24px 0 0 70px;
}

.side-photo-description {
  margin: 24px 0 0 25px;
}

@media (max-width: 1440px) {
  .main-container {
    padding: 0 10%;
  }

  .p-bold-framed span {
    font-size: 22px;
    line-height: 32px;
  }

  .side-text-container p {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .main-container {
    padding: 0 8%;
  }
}

@media (max-width: 1024px) {
  .main-container {
    padding: 0 6%;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 4%;
  }

  main {
    grid-template-columns: 1fr;
  }

  .side-text-container {
    justify-self: center;
    text-align: center;
  }

  .side-text-container img {
    margin-top: 100px;
  }
}
