@font-face {
  src: url(fonts/made_bon_voyage_regular-webfont.woff);
  font-family: BonVoyage regular;
}

@font-face {
  src: url(fonts/made_bon_voyage_thin-webfont.woff);
  font-family: BonVoyage light;
}

@font-face {
  src: url(fonts/ProximaNova-Thin.otf);
  font-family: ProximaNova;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: BonVoyage regular;
  font-size: 25px;
  line-height: 36px;
  overflow: hidden;
}

h2 {
  font-size: 122px;
  line-height: 105.9%;
}

a {
  font-family: BonVoyage regular;
  text-decoration: none;
  color: #0c0c0c;
}

body {
  background-color: #e8eae6;
  color: #0c0c0c;
}

.main-container {
  max-width: 1640px;
  position: relative;
  margin: 0 auto;
  padding: 0 70px;
}

/* Animation styles */

.animated-text {
  visibility: hidden;
}

/* end */

main {
  display: flex;
}

.text-wrapper p span {
  display: block;
}

.media {
  list-style-type: none;
  margin: 0 100px 0 auto;
  padding-left: 100px;
}

.media li {
  margin-bottom: 16px;
  overflow: hidden;
}

.media li p {
  line-height: 28px;
}

.media li a {
  font-size: 20px;
}

.media li img {
  margin-right: 12px;
  height: 14px;
}

.media-text {
  font-family: BonVoyage regular;
  font-size: 20px;
}

@media (max-width: 1440px) {
  .main-container {
    padding: 0 10%;
  }

  p {
    font-size: 22px;
    line-height: 30px;
  }

  .media li a {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .main-container {
    padding: 0 8%;
  }

  .media {
    margin: 0 50px 0 auto;
  }
}

@media (max-width: 1024px) {
  .main-container {
    padding: 0 6%;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 4%;
  }

  main {
    display: block;
  }

  .award {
    max-width: 400px;
  }

  .media {
    list-style-type: none;
    margin: 60px 0 0 0;
    padding-left: 0px;
  }
}
