@font-face {
    src: url(fonts/made_bon_voyage_regular-webfont.woff);
    font-family: BonVoyage regular;
}

@font-face {
    src: url(fonts/made_bon_voyage_thin-webfont.woff);
    font-family: BonVoyage light;
}

@font-face {
    src: url(fonts/ProximaNova-Light.otf);
    font-family: ProximaNova;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: BonVoyage regular;
    font-size: 25px;
    line-height: 36px;
}

h2 {
    font-size: 122px;
    line-height: 105.9%;
}

a {
    font-family: BonVoyage regular;
    text-decoration: none;
    color: #0C0C0C;
}

span {
    font-family: BonVoyage regular;
    font-size: 20px;
}

body {
    background-color: #E8EAE6;
    ;
    color: #0C0C0C;
}

.main-container {
    max-width: 1640px;
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
}

main {
    display: flex;
}

.award {
    max-width: 640px;
}

.media {
    list-style-type: none;
    margin: 0 100px 0 auto;
    padding-left: 100px;
}

.media li {
    margin-bottom: 24px;
}

.media li a {
    font-size: 20px;
}

.media li img {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .main-container {
        padding: 0 20px;
    }

    main {
        display: block;
    }

    .award {
        max-width: 400px;
    }

    .media {
        list-style-type: none;
        margin: 60px 0 0 0;
        padding-left: 0px;
    }
}