@font-face {
  src: url(fonts/made_bon_voyage_regular-webfont.woff);
  font-family: BonVoyage regular;
}

@font-face {
  src: url(fonts/made_bon_voyage_thin-webfont.woff);
  font-family: BonVoyage light;
}

@font-face {
  src: url(fonts/ProximaNova-Light.otf);
  font-family: ProximaNova;
}

body {
  overflow-x: hidden;
}

.main-nav {
  padding-top: 76px;
  margin: 0 0 0 auto;
  max-width: 550px;
  white-space: nowrap;
}

.main-nav ul > li {
  display: inline-block;
  padding-left: 36px;
  opacity: 0;
}

.main-nav ul > li a {
  font-family: ProximaNova;
  font-size: 16px;
  text-decoration: none;
  transition: 0.5s;
}

.main-nav ul > li a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.responsive-nav {
  display: none;
}

.hamburger {
  box-sizing: content-box;
  position: absolute;
  right: 0px;
  top: 73px;
  width: 30px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  z-index: 200;
}

.hamburger.subpage-hamburger {
  right: 10px;
}

/* .hamburger-fixed {
  position: fixed;
  right: 0px;
  top: 73px;
} */

.hamburger span {
  width: 30px;
  height: 1px;
  background-color: black;
  transition: 0.5s;
}

.bar1-opened {
  transform: rotateZ(-45deg) translate(-6px, 10px);
  transition: 0.5s;
}

.bar2-opened {
  transform: rotateZ(45deg) translate(5px, 0px);
  transition: 0.5s;
}

.responsive-menu {
  z-index: 100;
  position: fixed;
  /* right: -100vw; */
  right: 0;
  top: 0px;
  /* width: 100vw; */
  width: 0;
  height: 100vh;
  padding-top: 99px;
  background-color: #fffdf4;
  transition: 0.5s;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.responsive-menu-open {
  /* right: 0; */
  width: 100vw;
  transition: 0.5s;
}

.hide-scrollbar {
  overflow-y: hidden;
}

.responsive-menu li {
  transform: translateY(100%);
  opacity: 0;
  margin-bottom: 24px;
  margin-left: 20px;
}

.responsive-menu li a {
  font-size: 42px;
  font-family: BonVoyage light;
}

.name {
  font-size: 27px;
  position: absolute;
  top: 75px;
  max-width: 203px;
  opacity: 0;
}

.name a {
  font-family: BonVoyage light;
}

.title-overlay {
  overflow-y: hidden;
  max-width: 1267px;
  min-height: 240px;
  margin: 168px 0 148px 0;
}

.title-overflow {
  display: inline-block;
  overflow: hidden;
}

.title-content {
  display: inline-block;
  transform: translateY(100%);
}

.main-title-static {
  font-family: BonVoyage light;
  font-weight: normal;
  font-size: 184px;
  line-height: 220px;
  transform: translateY(100%);
}

.main-title-double {
  font-family: BonVoyage light;
  margin: 168px 0 148px 0;
  font-weight: normal;
  font-size: 184px;
  line-height: 170px;
}

footer {
  margin-top: 291px;
  margin-bottom: 20px;
}

footer a {
  font-family: BonVoyage regular;
}

.next-chapter {
  font-size: 20px;
  text-align: center;
  display: block;
  visibility: hidden;
}

.next-chapter-title {
  font-weight: 300;
  text-align: center;
  font-size: 126px;
  margin-top: 54px;
  visibility: hidden;
}

.next-chapter-title a {
  font-family: BonVoyage light;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 253px;
}

.contact-photo-container {
  display: flex;
  width: 60px;
  justify-content: space-around;
}

.contact-photo-container img {
  transition: 0.5s;
  height: 14px;
}

.contact-photo-container img:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.footer p {
  font-family: ProximaNova;
  flex: 1;
  font-size: 16px;
}

.footer p a {
  transition: 0.5s;
  font-family: ProximaNova;
  font-size: 16px;
}

.contact p:last-child {
  text-align: right;
}

/* end */

@media (max-width: 1440px) {
  .name {
    font-size: 24px;
  }
}

@media (max-width: 1280px) {
  .name {
    font-size: 22px;
    width: 180px;
  }

  .main-nav {
    max-width: 430px;
  }

  .main-nav ul > li {
    padding-left: 20px;
  }

  .main-nav ul > li a {
    font-size: 15px;
  }

  .title-overlay {
    margin: 140px 0 120px 0;
  }

  .main-title-static {
    font-size: 168px;
    line-height: 220px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    padding: 0 6%;
  }

  .next-chapter-title {
    margin-top: 16px;
  }
}

@media (max-width: 951px) {
  .title-overlay {
    margin: 0 0 100px 0;
    padding-top: 200px;
    min-height: auto;
  }

  .main-title-static {
    font-size: 16vw;
    line-height: 24vw;
  }

  .main-title-double {
    margin: 0 0 100px 0;
    padding-top: 200px;
    line-height: 18vw;
    font-size: 18vw;
  }
}

@media (max-width: 768px) {
  .main-nav {
    display: none;
  }

  .responsive-nav {
    display: block;
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .main-title-static {
    font-size: 18vw;
    line-height: 26vw;
  }

  footer {
    margin-top: 205px;
  }

  .contact {
    flex-direction: column;
  }

  .next-chapter-title {
    font-size: 96px;
  }

  .footer p:last-of-type {
    margin: 2px 0 20px 0;
  }

  .contact-photo-container {
    width: 80px;
    order: -1;
    margin-bottom: 16px;
  }
}
