@font-face {
  src: url(fonts/made_bon_voyage_regular-webfont.woff);
  font-family: BonVoyage regular;
}

@font-face {
  font-family: BonVoyage light;
  src: url("fonts/made_bon_voyage_thin-webfont.woff2") format("woff2"),
    url("fonts/made_bon_voyage_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(fonts/ProximaNova-Thin.otf);
  font-family: ProximaNova;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: BonVoyage regular;
  font-size: 25px;
  line-height: 36px;
}

h1 {
  font-family: BonVoyage light;
  font-weight: 300;
}

h2 {
  font-family: BonVoyage light;
  font-weight: 300;
  font-size: 126px;
  line-height: 105.9%;
}

a {
  font-family: BonVoyage regular;
  text-decoration: none;
  color: #0c0c0c;
}

body {
  background-color: #c7d3c9;
  color: #0c0c0c;
}

input {
  border: 0;
  margin: 0;
  background: none;
  pointer-events: none;
  font-size: 13px;
  font-family: Arial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.top-fadein,
.motto-single-fadein {
  display: block;
}

.top-fadein,
.bottom-fadein,
.motto-single-fadein,
.motto-bottom-fadein,
.opera-image {
  visibility: hidden;
}

/* LOADER */

.loader {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  z-index: 1000;
}

.loader-content {
  height: 200px;
  position: absolute;
  bottom: 15px;
  left: 0px;
  overflow: hidden;
}

.dot,
.counter {
  z-index: 1100;
  font-size: 182px;
  color: #ffffff;
  font-family: BonVoyage light;
  visibility: hidden;
  /* line-height: 120px; */
  /* transform: translateY(100%); */
}

.counter {
  text-align: right;
  max-width: 300px;
  height: 100%;
  /* line-height: 28px; */
}

.dot {
  display: inline-block;
  height: 100%;
}

.counter {
  text-align: right;
  max-width: 300px;
  height: 180px;
  line-height: 170px;
}

.dot {
  display: inline-block;
}

/* LOADER END */

.main-container {
  font-family: BonVoyage regular;
  max-width: 1640px;
  position: relative;
  margin: 0 auto;
  padding: 0 70px;
}

header {
  position: relative;
  height: 100vh;
  min-height: 768px;
  max-height: 2000px;
}

.main-title {
  font-family: BonVoyage light;
  position: absolute;
  top: 300px;
  left: 0;
  font-weight: normal;
  font-size: 182px;
  line-height: 190px;
}

.title-overflow {
  display: inline-block;
  overflow: hidden;
}

.title-content {
  display: inline-block;
  transform: translateY(100%);
}

.main-title-small {
  position: absolute;
  top: 75px;
  font-size: 27px;
  line-height: 27px;
}

.overlay {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -100%;
  width: 315px;
  height: 409px;
}

.overlay img {
  width: 100%;
}

.overlay h2 {
  font-family: BonVoyage light;
  font-weight: 300;
  position: absolute;
  color: #ffffff;
  bottom: -518px;
  left: 50%;
  transform: translateX(-50%);
}

main {
  padding-top: 180px;
}

.motto-container {
  display: flex;
  flex-direction: column;
}

.motto1,
.motto2 {
  display: inline-block;
  position: relative;
}

.motto1 {
  margin: 0 auto 0 0;
}

.motto2 {
  margin: 166px 40px 0 auto;
}

.motto1 p,
.motto2 p {
  overflow: hidden;
}

.motto1 a,
.motto2 a {
  display: block;
  position: absolute;
  right: -40px;
  min-width: 260px;
  color: #748a77;
  font-size: 18px;
  line-height: 27px;
  margin-top: 60px;
  text-align: right;
  text-transform: uppercase;
  pointer-events: none;
}

.best-of-header {
  max-width: 950px;
  overflow: hidden;
}

.best-of-header:first-of-type {
  margin-top: 229px;
}

.songs-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 38px;
}

.song-flex-div {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.song-play-1,
.song-play-2,
.song-play-3,
.song-play-4,
.song-play-5,
.song-play-6 {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.song-gif-1,
.song-gif-2,
.song-gif-3,
.song-gif-4,
.song-gif-5,
.song-gif-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: -1;
  opacity: 0;
}

.song {
  flex: 47%;
  margin-top: 48px;
}

.song:nth-child(2n + 1) {
  padding-right: 50px;
}

.song-header {
  font-size: 18px;
  color: #748a77;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.song a {
  overflow: hidden;
  display: block;
  font-family: BonVoyage regular;
  font-size: 25px;
  line-height: 36px;
  color: #0f0f0f;
  pointer-events: none;
}

.opera-image {
  margin-top: 224px;
  width: 100%;
  visibility: hidden;
}

@media (max-width: 1440px) {
  .main-container {
    padding: 0 10%;
  }

  .motto1,
  .motto2 {
    max-width: 700px;
  }

  .song a,
  .motto-text p {
    font-size: 22px;
    line-height: 34px;
  }

  .song-play-1,
  .song-play-2,
  .song-play-3,
  .song-play-4,
  .song-play-5,
  .song-play-6 {
    margin-right: 18px;
  }
}

@media (max-width: 1280px) {
  .main-title {
    font-size: 172px;
    line-height: 172px;
  }
  .song a {
    font-size: 1.8vw;
  }
}

@media (max-width: 1280px) {
  .main-container {
    padding: 0 8%;
  }

  main {
    padding-top: 100px;
  }

  .best-of-header:first-of-type {
    margin-top: 240px;
  }
}

@media (max-width: 1200px) {
  .main-title {
    font-size: 120px;
    line-height: 120px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    padding: 0 6%;
  }
}

@media (max-width: 1100px) {
  .dot,
  .counter {
    font-size: 142px;
  }

  .counter {
    text-align: right;
    max-width: 250px;
    height: 180px;
    line-height: 170px;
  }

  .main-title {
    white-space: nowrap;
  }

  .best-of-header {
    font-size: 90px;
    /* line-height: 100.9%; */
  }

  .songs-list {
    flex-direction: column;
  }

  .song {
    flex: 100%;
  }

  .song:nth-child(2n + 1) {
    padding-right: 0;
  }

  .song a {
    font-size: 27px;
  }
}

@media (max-width: 766px) {
  h2 {
    font-size: 64px;
    line-height: 69px;
  }

  p {
    font-size: 25px;
    line-height: 125.86%;
  }

  .main-container {
    padding: 0 4%;
  }

  header {
    min-height: 0;
  }

  .main-title-small {
    top: 40px;
  }

  main {
    padding-top: 140px;
  }

  .overlay {
    width: 207px;
    height: 269px;
  }

  /* .overlay h2 {
    bottom: -20px;
  } */

  .motto1,
  .motto2 {
    max-width: 360px;
  }

  .motto2 {
    margin: 112px 0 0 auto;
  }

  .motto1 a,
  .motto2 a {
    right: 0px;
    min-width: 0;
    color: #748a77;
    margin-top: 30px;
  }

  .best-of-header:first-child {
    margin-top: 130px;
  }

  .best-of-header {
    display: inline-block;
    font-size: 50px;
  }

  .song {
    margin-top: 60px;
  }

  .song a {
    font-size: 22px;
  }

  .opera-image {
    margin-top: 135px;
  }

  .next-chapter {
    margin-top: 205px;
  }
}
